body {
    background-color: rgb(245, 72, 109);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
}
  

.quadradao {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.quadro, .quadro2 {
    background-color: rgb(243, 116, 154);
    border-radius: 10px;
    width: calc(50% - 20px); 
    margin: 10px; 
    text-indent: 2%;
    height: 400px; 
    overflow-y: hidden;
    
}

.quadro2 {
    background-color: rgba(88, 39, 72, 0.788);
}

.quadro:hover, .quadro2:hover {
    overflow-y: auto; /*Scroll*/
}

img {
    border-radius: 15px;
    margin: auto; 
    transition: transform 0.3s ease;

}

img:hover{
    transform: scale(1.02); 
}

ul {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0; 
    list-style: none; 
}

li {
    margin-right: 20px;
}

#contato {
    width: 80%;
    margin: auto;
    background-color: rgb(43, 116, 116);
}

