body {
    background-color: rgb(245, 72, 109);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    font-size: large;
}
  

.quadradao {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.quadro, .quadro2 {
    background-color: rgb(243, 116, 154);
    border-radius: 10px;
    width: calc(50% - 20px); 
    margin: 10px; 
    text-indent: 2%;
    height: 400px; 
    overflow-y: hidden;
    
}

.quadro2 {
    background-color: rgba(88, 39, 72, 0.788);
}

.quadro:hover, .quadro2:hover {
    overflow-y: auto; /*Scroll*/
}

img {
    border-radius: 15px;
    margin: auto; 
    transition: transform 0.3s ease;

}

img:hover{
    transform: scale(1.02); 
}

.navbar {
    display: flex; 
    justify-content: center; 
    align-items: center;
    padding: 0; 
    list-style: none; 
}

.redes_sociais {
    margin-right: 20px;
}

#contato {
    width: 80%;
    margin: auto;
    background-color: rgb(43, 116, 116);
}

#pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 116, 154);
    border-radius: 10px;
    width: 60%; 
    max-width: 560px;
    padding: 20px;
    z-index: 999;
    display: none;
    border: 2px solid white;
}

.fechar-botao {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.fechar-botao:hover {
    background-color: #0056b3;
}

.topics {
    list-style: none;
    margin-right: 250px;
    margin-bottom: 30px;
    font-size: 200%;
    color: aliceblue;
    
}

#interesses {
    align-items:start;
}


























 

.botao {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.botao:hover {
    background-color: #0056b3;
}